<!doctype html>
<html lang="en">

{{ partial "head.html" . }}

<body>
    {{ partial "header.html" . }}

    <main class="content-wrapper">
        <article class="content-container">
            <section>
                <h2>Notes</h2>
                <ul>
                    {{ range where .Site.RegularPages "Type" "note" }}
                    <li>
                        <a href="{{ .Permalink }}">{{ .Title }}</a>
                    </li>
                    {{ end }}
                </ul>
            </section>

        {{ partial "footer.html" . }}
        </article>
    </main>
</body>

</html>
